<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=600px, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>stepgod-player</title>
    <link rel="stylesheet" href="../styles/index.css"/>
  </head>

  <body>
    <audio src="../songs/stepgod - schizophren.mp3" id="song" ontimeupdate="updateProgressValue()" onended="nextSong()"></audio>
    <img src="../pictures/main_vanica.jpg" alt="background" id="BG"/>
    <div class="super-container">
      <nav id="volume">
        <button class="nice-button" onclick="playRandomSong()">randomize playlist</button>
            <ul>
              <li><button class="nice-button" onclick="song.volume+=0.05"><img src ="../pictures/arrow-up.png" height="30" width="30"></button></li>
              <li><button class="nice-button" onclick="song.volume-=0.05"><img src ="../pictures/arrow-down.png" height="30" width="30"></button></li>
            </ul>
      </nav>
      <nav class="track-list">
            <ul class="song-list">
              <li onclick="setSong(0)" class="current-song">schizophren</li>
              <li onclick="setSong(1)">koma</li>
              <li onclick="setSong(2)">rosen</li>
              <li onclick="setSong(3)">7 tage</li>
              <li onclick="setSong(4)">renn weg</li>
              <li onclick="setSong(5)">winter</li>
              <li onclick="setSong(6)">juwelen</li>
              <li onclick="setSong(7)">taub</li>
              <li onclick="setSong(8)">träume</li>
              <li onclick="setSong(9)">trance</li>
              <li onclick="setSong(10)">moonlight</li>
              <li onclick="setSong(11)">narben</li>
              <li onclick="setSong(12)">gemeinsam einsam</li>
              <li onclick="setSong(13)">fake depressed</li>
              <li onclick="setSong(14)">sinner</li>
              <li onclick="setSong(15)">zufall</li>
            </ul>
      </nav>
      <nav id="text-container" onclick="textContainerClick()">
            <ul class="text-expanded"></ul>
            <ul class="text-collapsed">Lyrics</ul>
      </nav>
      <div class="container">
        <div class="song-name"></div>
        <div class="song-title">schizophren</div>
        <img src="../pictures/main_vanica.jpg" alt="thumbnail" id="thumbnail"/>
        <div class="box"></div>
        <img src="../pictures/play-button.ico" alt="play/pause" onclick="playPause()" id="pp"/>
        <img src="../pictures/arrow.png" alt="nextSong" id="ns" onclick="nextSong()"/>
        <img src="../pictures/arrow.png" alt="previousSong" id="ps" onclick="previousSong()"/>

        <input
          type="range"
          id="progressBar"
          min="0"
          max=""
          value="0"
          onchange='const progressBar = document.querySelector("#progressBar");
          document.querySelector("#song").currentTime = progressBar.value;'
        >
      </div>
   </div>
   <script src="../scripts/data.js"></script>
    <script src="../scripts/player.js"></script>
  </body>
</html>
